@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: hsl(265, 70%, 60%);
  --color-heading: hsl(250, 25%, 27%);
  --color-foreground: hsl(250, 25%, 40%);
  --color-muted: hsl(250, 25%, 45%);
  --color-soft: hsl(250, 15%, 65%);
  --color-skill-border: hsl(260, 32%, 91%);
  --color-code-bg: hsl(0, 0%, 100%);
  --color-main-btn: hsl(260, 50%, 98%);
  --color-outline: hsl(260, 32%, 91%);
  --color-background: hsl(240, 67%, 98%);
  --color-connect-bg: hsl(260, 40%, 96%);
  --font-inter: "Inter", sans-serif;

  --animate-fade-in: fade-in 0.5s ease-out forwards;

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.dark {
  --color-background: hsl(251, 28%, 12%);
  --color-heading: hsl(210, 40%, 98%);
  --color-code-bg: hsl(222, 44%, 8%);
  --color-skill-border: hsl(217, 33%, 18%);
  --color-main-btn: hsl(222, 46%, 11%);
  --color-outline: hsl(217, 33%, 18%);
  --color-foreground: hsl(215, 20%, 65%);
  --color-muted: hsl(215, 20%, 55%);
  --color-soft: hsl(215, 10%, 60%);
  --color-connect-bg: hsl(260, 40%, 84%);
}
