@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: hsl(265, 70%, 60%);
  --color-heading: hsl(249, 25%, 27%);
  --color-background: hsl(260, 50%, 98%);

  --font-inter: "Inter", sans-serif;

  --animate-fade-in: fade-in 0.5s ease-out forwards;

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.dark {
  --color-bg-background: hsl(251, 28%, 12%);
  --color-heading: hsl(210, 40%, 98%);
}
